.header{
    text-align:center;
    height:100px;
    background-color:blue;
    width:100%;
    color:white
}
.footer{
    text-align:center;
    height:100px;
    background-color:blue;
    width:100%;
    color:white
}